<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.calypsonet.keyple.remote.reload.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for nfc plugin-->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Required for wizway agent -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Required for Open Mobile API -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:name="org.calypsonet.keyple.remote.reload.demo.Application">

        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.SettingsMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.ServerSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.ConfigurationSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.CardReaderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.CardSummaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.SelectTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.PaymentValidatedActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.ChargeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.ChargeResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="org.calypsonet.keyple.remote.reload.demo.ui.PersonnalizationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>

</manifest>
